/*

Title: Styles for additem.html
By: Juan J Guzman
Visual Frameworks

*/


body {font-family: Arial, Helvitica, san-sarif; width: 571px; margin: auto:padding; 10px }
#content{width: 480px; height: 690px; overflow: scroll;}

h1{
	margin: 10px 20px;
	border: 1px solid black;
	padding: 10px;
	width: 70%;	
	background-color: gray;
}

p{
	color: ;
	font-style: ;
	font-family: ;
	
}