/*
CSS Styles for additem.html
Project 3
Visual Frameworks January 2013
by Juan Guzman
*/



fieldset {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline; 
}


